:root {
  /* Font Variable */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Josephine-Sans", sans-serif;

  /* Font Weight Variable */
  --weight-thin: 300;
  --weight-regular: 400;
  --weight-semibold: 500;
  --weight-bold: 600;

  /* Font Size Variable */
  --size-sm: 16px;
  --size-md: 18px;
  --size-lg: 20px;
  --size-xl: 25px;
  --size-2xl: 30px;
  --size-3xl: 50px;
  --size-4xl: 70px;

  /* Letter Spacing Variables */
  --letter-spacing-1: 20px;
  --letter-spacing-2: 10px;
  --letter-spacing-3: 5px;

  /* Color Theme Variables */
  --dark-color: rgb(13, 17, 23);
  --dark-color-2: rgba(13, 17, 23, 0.985);

  --light-color: rgb(139, 148, 158);
  --light-color-2: rgb(230, 237, 243);
  --light-color-3: rgb(63, 185, 80);
  --light-color: rgb(115, 63, 200);

  --glow: rgba(255, 255, 255, 1);
  --glow-font: rgba(255, 255, 255, 0.7);
  --glow-bounce: rgba(255, 255, 255, 0.26);
  --glass: rgba(255, 255, 255, 0.1);

  --hover-text-color-1: white;
  --hover-text-color-2: #1f2544;
  --hover-button-color: white;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* -----Navigation Bar----- */

.header-section {
  background-color: var(--dark-color-2);
  padding: 20px 100px;
  display: flex;
  position: sticky;
  top: 0;
}

.logo_content {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo {
  font-family: var(--main-font);
  font-size: 25px;
  font-weight: 500;
  color: var(--light-color);
}

.span-1-style {
  color: var(--light-color-2);
}

.navigation-bar {
  position: relative;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  list-style: none;
}

.nav-text-style {
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--light-color-2);
}

.nav-text-style:hover {
  color: var(--light-color);
}

/* ------Hero Section------- */
.hero-content {
  background-color: var(--dark-color);
}

.hero-content {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  gap: 400px;
}

.hero-left {
  padding: 150px 0px;
}

.hero-right {
  padding: 50px;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 30px;
}

.welcome-note-1 {
  font-family: var(--main-font);
  font-size: var(--size-4xl);
  font-weight: var(--weight-regular);
  color: var(--text-color-3);
  letter-spacing: var(--letter-spacing-1);
}

.welcome-note-2 {
  font-family: var(--main-font);
  font-size: var(--size-3xl);
  font-weight: var(--weight-semibold);
  color: var(--text-color-1);
  letter-spacing: var(--letter-spacing-2);
}

.description {
  font-family: var(--secondary-font);
  font-size: var(--size-2xl);
  font-weight: var(--weight-thin);
  color: var(--text-color-3);
  letter-spacing: var(--letter-spacing-3);
}

@keyframes FullStack {
  0% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  22.22222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  24% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  24.02222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  25.8% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  25.82222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  27.6% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  27.62222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  29.4% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  72.66667% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  73.33333% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  74% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  74.66667% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  75.33333% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  75.77778% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  94.44444% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  100% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

@keyframes UiUxDeveloper {
  0% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  22.22222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  24% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  24.02222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  25.8% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  25.82222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  27.6% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  27.62222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  29.4% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  72.66667% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  73.33333% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  74% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  74.66667% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  75.33333% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  75.77778% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  94.44444% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  100% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}
@keyframes GraphicDesigner {
  0% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  22.22222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  24% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  24.02222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  25.8% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  25.82222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  27.6% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  27.62222% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  29.4% {
    color: rgba(255, 255, 255, 0.26);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 80px white, 0 0 40px white;
  }
  72.66667% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  73.33333% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  74% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  74.66667% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  75.33333% {
    color: rgba(255, 255, 255, 0.7);
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 400px white, 0 0 100px white, 0 0 80px white,
      0 0 40px white;
  }
  75.77778% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  94.44444% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
  100% {
    color: var(--text-color-2);
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

#content li {
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

#content li:nth-child(1) {
  animation-name: FullStack;
  animation-delay: 0s;
  animation-duration: 6s;
}

#content li:nth-child(3) {
  animation-name: UiUxDeveloper;
  animation-delay: 1s;
  animation-duration: 6s;
}

#content li:nth-child(5) {
  animation-name: GraphicDesigner;
  animation-delay: 2s;
  animation-duration: 6s;
}

.profession-style {
  font-family: var(--main-font);
  font-size: var(--size-xl);
  font-weight: var(--weight-semibold);
  color: var(--text-color-3);
  display: flex;
  gap: 10px;
}

.span-1 {
  font-weight: var(--weight-thin);
  color: var(--text-color-2);
  list-style: none;
}

.span-2 {
  font-weight: var(--weight-thin);
  color: var(--text-color-2);
  list-style: none;
}

.span-3 {
  color: var(--text-color-2);
  font-weight: var(--weight-thin);
  list-style: none;
}

/* -----Button CV Download----- */

.cv-button-layout:hover {
  font-weight: var(--weight-semibold);
  color: var(--hover-text-color-2);
  fill: var(--text-color-2);
  background-color: #fff;
  animation: ease-in 0.2s;
}

.cv-button-layout {
  font-family: var(--main-font);
  background: var(--buttton-color-1);
  color: var(--text-color-3);
  font-size: var(--size-md);
  font-weight: var(--weight-semibold);
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  text-decoration: none;
  margin: 0px 250px;
  border-radius: 3rem;
  transition: 0.5s ease;
  text-decoration: none;
  text-align: center;
}

.cv-button-layout svg {
  width: 20px;
  height: 20px;
  fill: var(--text-color-3);
}

.cv-button-layout svg:hover {
  fill: var(--text-color-2);
}

/* Icon */

.s-icon {
  display: flex;
  margin: 80px 10px;
  gap: 100px;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 50px;
  border: none;
}

.s-icon a {
  color: #c8acd6;
}

.s-icon a:hover {
  color: white;
}

/* -----Container Section----- */

.about-section {
  background-color: #070f2b;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 100dvh;
}

.tab-titles {
  display: flex;
  padding: 20px 0px;
  gap: 200px;
}

.about-col-2 .sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #9290c3;
}

.about-description {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  width: 1000px;
  padding: 20px 0px;
  color: #c8acd6;
}

/* ------Tab Section------ */

.tab-links {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #9290c3;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 30px 0;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.tab-content-topic {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #c8acd6;
}

.tab-content-sub-topic {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* Contact Section */

.contact-section {
  background-color: #070f2b;
}

.row {
  display: flex;
  justify-content: center;
  gap: 300px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #1f2544;
  padding: 30px;
}

.contact-left-row-1 {
  background-color: #433d8b;
  padding: 20px 40px;
}

.contact-left-row-1-topic {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.contact-left-row-2-topic {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #c8acd6;
}

.contact-left p i {
  color: #c8acd6;
  margin-right: 15px;
  font-size: 25px;
}

.contact-right {
  background-color: #1f2544;
  padding: 30px;
  width: 700px;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #433d8b;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
}

input::placeholder {
  color: #c8acd6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

textarea::placeholder {
  color: #c8acd6;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  text-align: center;
  display: flex;
  background: #433d8b;
  border-radius: 3rem;
  transition: 0.5s ease;
  text-decoration: none;
  color: #c8acd6;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.submit-button:hover {
  color: #535c91;
  background-color: white;
}

.submit-button-layout {
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

/* Footer Section */

.footer-text {
  align-content: center;
  background: #28282b;
}

.footer-text h1 {
  background: #28282b;
  padding: 10px;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}
