*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    background-color: #000000;
}

html{
    scroll-behavior: smooth;
}

/* ------Hero Section------- */

.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(Images/bg.png);
}

nav{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
    cursor: pointer;
    padding-right: 10%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 25px;
}

nav ul li a{
    color: azure;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:#8B0000;
    transition: .4s;
}

span{
    color:#8B0000;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.content a{
    font-family: Arial;
    text-decoration: none;
    margin-top: 8%;
}

.s-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #8B0000;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid;
    border-radius: 50%;
    font-size: 2rem;
    border-color: #D2042D;
    margin:1rem 3rem 1rem 0;
    margin-top: 8%;
    margin-left: 2%;
}

h1{
    color: #8B0000;
    margin: 20px 0px 20px;
    letter-spacing: 5px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: silver;
    margin: 10px 0px 20px;
    font-size: 53px;
    letter-spacing: 3px;
}

h3{
    color: silver;
    margin: 10px 0px 10px;
    font-size: 55px;
    letter-spacing: 3px;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #28282B;
    border-radius: 3rem;
    font-size: 1.6rem;
    color: silver;
    letter-spacing: .1rem;
    font-weight: 600;
    text-align: center;
    transition: .5s ease;
}

.btn:hover{
    color: #D2042D;;
    box-shadow: none;
}

/* ------About Section------ */

#about{
	padding: 80px 0;
	color: #ababab;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
}
.about-col-1 img{
	width: 100%;
	border-radius: 20%;
    margin-left: 20px;
}
.about-col-2{
	flex-basis: 60%;
}

.sub-title{
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}
.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}
.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 50%;
}
.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li span{
	color: #b54769;
	font-size: 14px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}

/* Contact Section */

.contact-left{
	flex-basis: 35%;
    margin-left: 3%;
}
.contact-right{
	flex-basis: 60%;
}

.contact-left p{
	margin-top: 30px;
    color: #fff;
}


.contact-left p i{
	color: #ff004f;
	margin-right: 15px;
	font-size: 25px;
}

.btn.btn2{
	display: inline-block;
	background-color: #ff004f;
}
.contact-right form{
	width: 100%;
}

.contact-right{
    margin-right: 2%;
}

form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 16px;
	border-radius: 6px;
}
form btn2{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

/* Footer Section */

.footer-text {
    align-content: center;
    background: #28282B;
}

.footer-text h1 {
    background: #28282B;
    padding: 10px;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

/*----------- css for small screens ----------*/
nav .fa-solid{
	display: none;
}


@media only screen and (max-width:480px){
	html{
        padding-left: 10%;
        padding-right: 10%;
    }

	#hero content h1,h2,h3 {
		margin-top: 100%;
		font-size: 30px;
	}
	.header-text h1{
		font-size: 10px;
	}
	
    .s-icon a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #8B0000;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: .2rem solid;
        border-radius: 50%;
        font-size: 1rem;
        border-color: #D2042D;
        margin:1rem 3rem 1rem 0;
        margin-top: 10%;
        margin-left: 9%;
    }
    
    h1{
        color: #8B0000;
        margin: 20px 0px 20px;
        letter-spacing: 5px;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2{
        color: silver;
        margin: 10px 0px 20px;
        font-size: 35px;
        letter-spacing: 3px;
    }
    
    h3{
        color: silver;
        margin: 10px 0px 10px;
        font-size: 40px;
        letter-spacing: 3px;
    }
    

	nav ul{
		background: #ff004f;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
    #msg{
        color: #61b752;
        margin-top: -40px;
        display: block;
    }
    
    #about{
        padding: 80px 0;
        color: #ababab;
        margin-left: 10;
    }
    
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .about-col-1{
        flex-basis: 35%;
    }
    
    .about-col-1 img{
        margin-top: -100rem;
        width: 200%;
        border-radius: 20%;
        margin-left: 20px;
    }
    
    .about-col-2{
        flex-basis: 60%;
    }
    
    .sub-title{
        font-size: 25px;
        font-weight: 500;
        color: #fff;
    }
    
    .contact-left h1{
        font-size: 20px;
        text-align: center;
    }
    
    .contact-left p{
        color: #fff;
        display: inline-block;
        font-size: 15px;
    }
    
    /* Footer Section */
    
    .footer-text {
        align-content: center;
        background: #28282B;
    }
    
    .footer-text h1 {
        margin-top: 10%;
        background: #28282B;
        padding: 10px;
        color: silver;
        font-family:'Courier New', Courier, monospace;
        font-size: 8px;
        text-align: center;
        letter-spacing: -1px;
    }

} 
