/* Service Section */

.service-section {
  background-position: bottom;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/Images/blob-scene.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-section-layout {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  background-color: transparent;
}

.service-box,
h1,
p {
  background-color: transparent;
}

.service-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 50px;
  font-family: var(--secondary-font-3);
  font-size: var(--fs-lg-5);
  color: var(--main-color);
  border: 2px solid transparent;
}

.service-icon {
  background-color: transparent;
  color: var(--main-color);
}

.s-description {
  font-family: var(--secondary-font-1);
  font-size: var(--fs-sm-5);
  font-weight: var(--fw-sm-5);
  color: var(--secondary-color-1);
  width: 400px;
  text-align: justify;
}

.service-box:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 2px 5px 0 blue; */
}

@media (max-width: 900px) {
  .service-section {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-section-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .service-section-layout-center {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: transparent;
  }

  .service-box,
  h1,
  p {
    background-color: transparent;
  }

  .s-title {
    font-family: var(--secondary-font-2);
    font-size: 30px;
    color: var(--main-color);
  }

  .s-description {
    font-family: var(--secondary-font-3);
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
  }
}
